<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">image</th>
      <th scope="col">description</th>
        <th scope="col">price</th>

    </tr>
  </thead>
  <tbody>
{% for d in data %}
  <tr>
    <td>{{d.name}}</td>
    <td>
      <img src="{{d.image.url}}" width="75px" height="75px">
    </td>
    <td>{{d.description}}</td>
          <td>{{d.price}}</td>
    <td> <form action="{% url 'editservice' id=d.id %}">
     <button type="submit">edit</button></form></td>
   <td> <form action="{% url 'delservice' id=d.id %}">
     <button type="submit">delete</button></form></td>


  </tr>
  {% endfor %}
  </tbody>
</table>
</form>
</body>
</html>
{% endblock %}