<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'savepets' %}" enctype="multipart/form-data">
	{% csrf_token %}
<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">TYPE OF PETS</h5>
								</div>
								<div class="card-body">
									<select class="form-control" placeholder="Input" name="pets">
										{% for d in data %}

										<option>{{d.name}}</option>
										{% endfor %}
									</select>

								</div>
							</div>
<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">BREED</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control" placeholder="Input" name="breed">
								</div>
							</div>
<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">IMAGE</h5>
								</div>
								<div class="card-body">
									<input type="FILE" class="form-control" placeholder="UPLOAD IMAGE" name="image">
								</div>
							</div>
<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">RATE</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control" placeholder="Input" name="price">
								</div>
							</div>
	<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">description</h5>
								</div>
								<div class="card-body">
									<textarea type="text" class="form-control" placeholder="Input" name="description"></textarea>
								</div>
							</div>
      <button type="submit">okey</button>
	</form>
</body>
</html>
{% endblock %}